requests
# For Neo4j
jupyter
neo4j
neo4jupyter
neomodel
py2neo
# For spaCy NER
spaCy
#en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl